@font-face {
    font-family: "Poppins";
    src: local(Poppins), url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: local(Poppins), url(../assets/fonts/Poppins-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: local(Poppins), url(../assets/fonts/Poppins-ExtraBold.ttf);
    font-weight: 800;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 94%);

}

main {
    height: 100vh;
}

.box {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    border-bottom-right-radius: 10rem;
}

label {
    color: hsl(0, 1%, 40%);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.dayLayout,
.monthLayout,
.yearLayout {
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.year,
.month,
.day {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.showDate {
    color: hsl(259, 100%, 65%);
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
    font-weight:600;
}

.list-group {
    --bs-list-group-item-padding-y: 0;
}

.arrowIcon:hover {
    transition: .5s;
    background-color: hsl(0, 0%, 8%);
}



@media only screen and (min-width: 576px) {

    .day-li{
        width: 85%;
    }

}

@media only screen and (max-width: 576px) {

    main {
        margin:0;
    }
    .row>* {
        padding-right:0; 
        padding-left:0;
    }

    .dayLayout,
    .monthLayout,
    .yearLayout {
        font-size: 2.5rem;
    }

    .year,
    .month,
    .day {
        font-size: 2rem;
    }

    .showDate {
        font-size: 2.5rem;
    }

    .box {
        border-bottom-right-radius: 5rem;
        padding: 0;
    }

    input {
        font-size: 12px;
    }
}

@media only screen and (max-width: 360px) {
    .dayLayout,
    .monthLayout,
    .yearLayout {
        font-size: 1.65rem;
    }

    .year,
    .month,
    .day {
        font-size: 1.25rem;
    }

    .showDate {
        font-size: 1.65rem;
    }
}